* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-color: #c4c4c4 transparent;

    input,
    select {
        border-radius: 10px;
        padding: 5px;
    }

}

/* INICIO NAV*/
.logo-nav-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: black;
}

.menu ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.menu li {
    padding-right: 20px;
}

.menu a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover {
    color: gray;
    transition-duration: 0.4s;
}

.logo:hover {
    transform: scale(1.10);
}

/* FINAL NAV */


/* IMAGEN HERO*/
.eventos-top {
    color: white;
    background-image: url(/assets/fondo3.jpg);
    width: 100%;
    text-align: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body-hero {
    padding-top: 15px;
    color: white;
    font-size: 30px;

}

.card-img-hero:hover {
    filter: grayscale(50%);
    transform: scale(1.10);
}

.card-img-hero {
    margin-top: 60px;
}

/* IMAGEN HERO*/


/* INICIO CATEGORIAS*/

.categorias-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias-container p {
    display: flex;
    align-items: center;
    margin: 30px;
}

.search {
    margin-left: 10%;

}

/* FIN CATEGORIAS */

/*INICIO CARTELERA */

.cartelera {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Cartelera h2 {
    margin-left: 30px;
    padding-top: 30px;
}

.container-cards {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.card-title {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.card-img:hover {
    filter: grayscale(50%);
    transform: scale(1.10);
}

/*INICIO CARTELERA */

/* INICIO CATEGORIAS*/

.categorias-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.categorias-container p {
    display: flex;
    align-items: center;
    margin: 30px;
    text-shadow: 5px 1px 2px black;
}

.search {
    margin-left: 10%;

}

/* FIN CATEGORIAS */

/*INICIO CARTELERA */

.Cartelera {
    margin-top: 15px;
}

.Cartelera h2 {
    margin-left: 30px;
    font-size: 25px;
}

.container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 2px;

}

.card-title {
    display: flex;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 1px 2px black;
    color: white;
}



.card-img:hover {
    filter: grayscale(50%);
    transform: scale(1.10);
}

hr {
    margin-top: 50px;
    align-content: center;
    border-color: gray;
    margin-left: 15%;
    margin-right: 15%;
}

/*INICIO CARTELERA */


/* INICIO VISTA DETALLADA */

.body-peliculas{
    background-color: black;
}

.container-pelicula {
    margin-top: 50px;
}

.detalle-body {
    display: flex;
    justify-content: space-between;
}


.img-boton {
    text-align: center;
    margin-left: 30px;

}

.img-boton image {
    display: block;
}

.img-boton button {
    margin-top: 20px;
    background-color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    width: 200px;
    font-weight: bold;

}

.img-boton button:hover {
    transform: scale(1.10);
}

.peliculas-similares {
    margin-top: 50px;
}

.peliculas-similares h2 {
    margin-left: 30px;
}

.descripcion h1, p{
  margin-left: 30px;
}
/* FIN VISTA DETALLADA */


/* VISTA PERFIL  */
.perfil-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .perfil-container .perfil-usuario {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .perfil-container .perfil-usuario img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  
  .perfil-container .perfil-formulario {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
  }
  
  .perfil-container .perfil-formulario .formulario-izq,
  .perfil-container .perfil-formulario .formulario-der {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
  }
  
  .perfil-container .perfil-formulario .formulario-izq img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .formulario-izq p {
    margin: 5px 0;
    text-align: left;
  }
  .grupo-tarjeta {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .grupo-tarjeta {
    display: flex;
    gap: 10px;
  }
  
  .input-peq {
    flex: 3;
  }
  
  .input-code {
    flex: 1;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  

  .seccion {
    margin-bottom: 25px;
  }
  
  .seccion h3 {
    margin-bottom: 10px;
  }
  
  .metodos {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
  }
  
  .perfil-botones,
  .botones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .btn-verde {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-rojo {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
/* FIN VISTA PERFIL*/

/* LOGIN */
.img-banner{
    position: relative; /* El contenedor de la imagen */
    width: 100%; /* Ancho del contenedor */
    height: 200px; /* Altura del contenedor */
    display: flex; /* Usar flexbox para alinear */
    flex-direction: column; /* Columna para alinear la imagen y el texto */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
}
.img-banner img{
    width: 100%; /* Imagen ocupa todo el ancho del contenedor */
    height: 200px; /* Imagen ocupa todo el alto del contenedor */
    object-fit: cover; /* Ajustar la imagen a la proporción de la imagen */
}
.banner-texto{
    position: absolute; /* Posicionamiento absoluto */
    top: 60%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar la posición para centrar el texto */
    color: white; /* Texto blanco */
    text-align: center; /* Alinear el texto centrado */
}
.banner-texto h1{
    font-size: 50px; /* Tamaño del texto */
}
.banner-texto p{
    font-size: 20px; /* Tamaño del texto */
}

.enlace{
    color: white;
    text-decoration: underline;
}
/* INICIO VISTA REGISTRO*/
.main_registro{
    display: flex;
    width: 100%;
    max-width: 2040px;
    justify-content: center;
    margin-top: 5px;
} 
.form_registro{
    flex: 1;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #333;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_registro h2 {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}

.input_field {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input_field label {
    width: 40%;
    text-align: left;
    padding-right: 15px;
}
.input_field input[type="text"],
.input_field input[type="email"],
.input_field input[type="password"] {
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}
.input_pago{
    width: 100%;
    margin-top: 10px;
}
.input_radio{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 18px;
}
.input_radio input[type="radio"]{
    margin-right: 10px;
}
.input_Tarjeta{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    margin: 0px 0px 0px 10px;
    
}
.box_tarjeta{
    width: 65%;
    padding: 10px;border-radius: 4px;
}
.box_clave{
    width: 25%;
    padding: 10px;
    text-align: center;
    margin-right: 20px;border-radius: 4px;
}
.input_checkbox{
    margin-left: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-around;
}
.input_checkbox input[type="checkbox"]{
    margin-right: 10px;
}
.btn{
    width: 200px;
    padding: 8px 10px;
    font-size: 15px;
    border: none;
    background: white;
    color: black;
    border-radius: 4px;
    text-align: center;
}

.btn:hover{
    background: #d40303;
    color: white;
}

.input_field_btns{
    display: flex;
    margin-top: 30px;
    justify-content: space-between; /* Espaciado horizontal */
    width: 100%; 
}  
.input_field_btns .btn{
    margin-bottom: 10px; 
    width: 48%; 
}
.bottom{
    justify-content: center;
}
/* FIN VISTA REGISTRO*/

/*INICIO FOOTER */

.footer-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    text-align: center;
    align-content: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
    background-color: black;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
    padding: 0;

}

.Menu a {
    color: white;
}

.Menu li {
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.icons h5 {
    margin-bottom: 10px;
}

.icons a {
    justify-content: center;
    align-items: center;
    color: inherit;
}

.legal-list {
    display: flex;
    gap: 10px;
    margin-top: 8px;
    flex-direction: column;
    list-style: none;
    position: left;
    padding: 0;
}

.legal-list a {
    color: white;
}

.footer-container a:hover {
    color: gray;
    transition-duration: 0.4s;
}

/*FIN FOOTER */


/* INICIO MEDIAQUARIES VISTA HOME */
@media (min-width: 320px) {
  body {
    font-size: 12px;
  }
   nav {
    font-size: 10px;
  }

  .logo{
    width: 50px;
    height: 25px;
  }

  .card-img{
    width: 120px;
    height: 100px;
  }

  .card-img-hero{
    width: 300px;
    height: 200px;
  }

  .select-categorias{
    width: 80px;
    height: 30px;
  }

  .search{
     width: 80px;
    height: 30px;
  }

  .menu a{
    font-size: 8px;
    
  }

}

@media (min-width: 480px) {
 
}

/* Teléfonos grandes (≥576px) */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .logo{
    width: 80px;
    height: 35px;
  }

   .menu a{
    font-size: 18px;
  }

  .card-img-hero{
    width: 420px;
    height: 300px;
  }

   .card-img{
    width: 180px;
    height: 120px;
  }


}

@media (min-width: 1024px) {

  .logo{
    width: 80px;
    height: 35px;
  }

   .menu a{
    font-size: 25px;
  }

  .card-img-hero{
    width: 540px;
    height: 320px;
  }

   .card-img{
    width: 320px;
    height: 200px;
  }
}
@media (min-width: 1536px) {

  .logo{
    width: 80px;
    height: 35px;
  }

  .card-img-hero{
    width: 540px;
    height: 320px;
  }

   .card-img{
    width: 320px;
    height: 200px;
  }
}

/* INICIO MEDIAQUARIES VISTA HOME */

/* INICIO MEDIAQUARIES VISTA PELICULAS */

@media (min-width: 320px) {
  body {
    font-size: 10px;
  }
   nav {
    font-size: 11px;
  }

  .logo{
    width: 50px;
    height: 25px;
  }

  .card-img{
    width: 120px;
    height: 100px;
  }

  .img-detallada{
    width: 300px;
    height: 200px;
  }

  .select-categorias{
    width: 80px;
    height: 30px;
  }

  .search{
     width: 80px;
    height: 30px;
  }

   .menu a{
        font-size: 10px
    }


}

@media (min-width: 480px) {
 
}

/* Teléfonos grandes (≥576px) */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .logo{
    width: 80px;
    height: 35px;
  }

   .menu a{
    font-size: 18px;
  }

  .img-detallada{
    width: 420px;
    height: 300px;
  }

   .card-img{
    width: 180px;
    height: 120px;
  }

  .descripcion{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
  
  }

}

@media (min-width: 1024px) {

   
  .logo{
    width: 80px;
    height: 35px;
  }

  .img-detallada{
    width: 540px;
    height: 320px;
  }

   .card-img{
    width: 320px;
    height: 200px;
  }
}
/* INICIO MEDIAQUARIES VISTA PELICULAS */

/* LOGIN Responsive */
@media(max-width: 420px) {
    .img-banner{
        height: 150px;
        img{
            height: 150px;
        }
    }
}
@media (max-width: 768px) {
    .input_field_btns{	
    flex-direction: column; /* En la siguiente línea, los botones se apilan */
    justify-content: center; /* Centrar los botones verticalmente */
  }

  .input_field_btns .btn{
    width: 100%; /* Ocupan todo el ancho en pantallas pequeñas */
  }
  .main_registro{
    flex-direction: column;
    align-items: center;
  }
  .form_registro{
    margin: 10px 0;
    width: 100%;
    }
    .perfil-formulario {
        flex-direction: column;
        gap: 30px;
    }

    .formulario-izq {
        grid-template-columns: 1fr;
    }

    .campo label {
        text-align: left;
    }

    .grupo-tarjeta,
    .grupo-cupones {
        flex-direction: column;
        margin-left: 0;
    }

    .perfil-botones {
        flex-direction: column;
        gap: 12px;
        margin-top: 40px;
    }

    .btn-verde,
    .btn-rojo {
        width: 100%;
    }
  }
  /* LOGIN RESPONSIVE  */